{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}

{% block body %}

<h1>AKTUALNOŚCI</h1>

{% for post in posts %}

    <div class="post-box">
        <div class="post-box-title">
            <h2>{{ post.title }}</h2>
        </div>
        <div class="post-box-date">
            Data: {{ post.post_datetime.strftime('%Y-%m-%d %H:%M') }}
        </div>
        <div class="post-box-container">
            {% if post.title_img_name %}
            <div class="post-box-img">
                <img src="{{ url_for('static', filename='uploads/posts/' + post.post_id |string + '/' + post.title_img_name) }}" alt="Zdjęcie tytułowe">
            </div>
            {% endif %}
            <div class="post-box-description">
                <p> {{ post.description|safe }} </p>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="post-box-button">
            <a href="{{ url_for('post', id=post.post_id) }}">Więcej</a>
        </div>
    </div>

{% endfor %}

<a class="misc-post" href="/aktualnosci/dodaj-post">Dodaj post</a>

{% endblock %}