{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}

{% block body %}

<div class="post-box">
    <h1>{{ post.title }}</h1>
    Autor: {{ post.author }} <br/>
    Data: {{ post.post_datetime.strftime('%Y-%m-%d %H:%M') }}

    <p>{{ post.description|safe }}</p>
</div>

<a href="/aktualnosci">Powrót</a>

<a href="{{ url_for('edit_post', id=post.post_id) }}">Edytuj post</a>

<a href="{{ url_for('delete_post', id=post.post_id) }}">Usuń post</a>

{% endblock %}