.animal-boxes-module
{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 10px;
    justify-content: left;
}

.animal-box
{
    height: 400px;
    width: 300px;
    padding: 1vw;
    background-color: rgba(70, 72, 114, 1);
    background-image: linear-gradient(164deg, rgba(70, 72, 114, 1) 22%, rgba(77, 72, 92, 1) 72%);
    border-radius: 2vw;
    color: white;
}

.animal-box-img
{
    margin-top: 10px;
    height: 60%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2vw;
    background-color: white;
}

.animal-box-img img
{
    width: 100%;
    height: 100%;
    border-radius: 2vw;
}

.animal-box-description
{
    padding: 10px;
    font-size: small;
    font-weight: 600;
    text-align: left;
    color: white;
}


.images-gallery
{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 10px;
    justify-content: left;
}

.images-gallery-img
{
    width: 300px;
    height: 200px;
    padding: 1vw;
    background-color: rgba(70, 72, 114, 1);
    border-radius: 2vw;
}

.images-gallery-img img
{
    width: 100%;
    height: 100%;
}