/* orange: #e55e1a */
/* grey: #4d485c */
/* white:  #ffffff */
/* brown: #b23f1a*/

body
{
    background-color: #ffffff;
    color: #4d485c;
    margin: 0 !important;
    font-family: Verdana, sans-serif;
}

#wrapper
{
    width: 100%;
}

#header
{
    width: 100%;
}

#logo
{
    width: 690px;
    margin-left: auto;
    margin-right: auto;
}

.logo-image
{
    float: left;
}

.logo-name
{
    font-size: calc(1rem + 2vw);
    /* font-size: 40px; */
    text-align: center;
    float: left;
    margin-top: 8%;
}

#nav
{
    width: 100%;
    padding: 10px 0;
    background-color: #e55e1a;
    text-align: center;
    border-top: 1px solid #751b1b;
    border-bottom: 1px solid #751b1b;
}

ol
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

ol a
{
    color: #ffffff;
    text-decoration: none;
    display: block;

}

ol > li
{
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px dashed #751b1b;
}

ol > li:first-child
{
    border-left: 1px dashed #751b1b;
}

ol > li:hover
{
    background-color: #b1341e; 
}

ol > li:hover > a
{
    color: #ffb482; 
}

ol > li > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}

ol > li > ul > li
{
    background-color: #f1603b; 
    position: relative;
    z-index: 100;
    border-top: 1px dashed #751b1b;
}

ol > li > ul > li a
{
    color:#fdf2d2;
}

ol > li:hover > ul
{
    display: block;
}

ol > li > ul > li:hover
{
    background-color: #ff935c;
}

ol > li > ul > li:hover > a
{
    color: #b1341e;
}

.sticky
{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

#content
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#footer
{
    width: 100%;
    height: 200px;
    padding: 0 20px;
    text-align: center;
    background-color: #b23f1a;
    border-top: 30px solid #e55e1a;
    color: white;
}

.contact
{
    width: 50%;
    text-align: left;
    float: left;
}

.socials
{
    width: 50%;
    min-width: 200px;
    text-align: left;
    float: right;
}

.facebook
{
    width: 20%;
    height: 20%;
    text-align: center;
    float: left;
}

.facebook:hover
{
    background-color: #4668b3;
}

.instagram
{
    width: 20%;
    height: 20%;
    text-align: center;
    float: left;
}

.instagram:hover
{
    background-color: #eb35cc;
}

.tiktok
{
    width: 20%;
    height: 20%;
    text-align: center;
    float: left;
}

.tiktok:hover
{
    background-color: #000000;
}

