/* orange: #e55e1a */
/* grey: #4d485c */
/* white:  #ffffff */
/* brown: #b23f1a*/

body {
    background-color: #ffffff;
    color: #4d485c;
    margin: 0 !important;
    font-family: Verdana, sans-serif;
}

nav {
    background-color: #e55e1a;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}
  
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    position: relative;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
  
#navbar .logo img {
    height: 100px;
    border-radius: 20px;
    margin-bottom: -40px;
    -webkit-box-shadow: 0px 11px 19px 5px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 11px 19px 5px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 11px 19px 5px rgba(0, 0, 0, 0.59);
}
  
.nav-links {
    list-style-type: none;
    display: flex;
    gap: 12px;
    align-self: right;
    list-style: none;
    padding: 8px 8px;
    margin: 3px 10px;
    transition: max-height 0.3s ease;
}
  
.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-size: 18px;
    transition: color 0.3s;
    font-style: normal;
    font-weight: 800;
}
  
#wrapper {
    margin-top: 120px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.nav-links a:hover {
    color: #ffb482;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
  
.submenu-toggle {
    display: none;
}

@media (min-width: 1230px) {
    .nav-links > li > ul > li
    {
        display: block;
    }

    .nav-links > li > ul
    {
        width: 100%;
        position: absolute;
        z-index: 999;
        display: none;
        padding: 10px 5px;
    }

    .nav-links li:hover ul {
        display: flex;
        flex-direction: column;
        width: auto;
        background:#e55e1a;
        align-content: left;

    }
}

@media (max-width: 1230px) {
    .nav-links > li > ul {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        width: 98%;
        position: absolute;
        top: 77px;
        left: 0;
        background-color: #f26b27;
        max-height: 300px;
        overflow-y: auto;
        border: #8f3903 5px solid;
    }

    .hamburger {
        display: flex;
    }
    
    .nav-links.active {
      display: flex;
    }
    
    .nav-links > li {
      width: 100%;
      position: relative;
    }
    
    .nav-links > li > a {
      display: block;
      padding: 15px 20px;
      border-bottom: 1px solid #fff;
      color: white;
      text-decoration: none;
      font-size: 18px;
      font-weight: 800;
    }

    .submenu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
        transform: translateY(-50%);
        font-size: 18px;
        color: white;
        background-color: rgba(178, 63, 26, 1);

        cursor: pointer;
        user-select: none;
        padding: 2px 15px;
        text-align: center;
        font-size: 30px;
        border: 1px solid #fff;
    }

    .submenu-toggle:hover {
        background-color: #d3977b;
        color: rgb(0, 0, 0)
    }
    
    .nav-links > li.active > ul {
      display: block !important;
    }
    
    .nav-links > li > ul > li {
      width: 100%;
      border-bottom: 1px solid #fff;
    }
    
    .nav-links > li > ul > li a {
      display: block;
      padding: 15px 40px;
      color: white;
      text-decoration: none;
      font-size: 16px;
    }
}

#content
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 1230px) {
    #content
    {
        width: 100%;
        min-height: 300px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

#bg-footer {
    width: 100%;
    background-color: rgba(178, 63, 26, 1);
    background-image: linear-gradient(168deg, rgba(178, 63, 26, 1) 26%, rgba(198, 74, 23, 1) 57%);
    border-top: 30px solid #e55e1a;
}

#footer
{
    max-width: 1400px;
    height: 250px;
    padding: 0 20px;
    text-align: center;
    margin: 0 auto;
    color: white;
}

#footer .contact h3{
    margin-top: 30px;
}

.contact
{
    width: clamp(35%, 40%, 50%);
    height: auto;
    text-align: left;
    float: left;
    word-wrap: break-word;
}

.socials
{
    width: 50%;
    min-width: 200px;
    text-align: left;
    float: right;
}

.socials-logo
{
    width: 50px;
    height: 50px;
    margin: 10px;
    text-align: center;
    float: left;
}

.socials-logo img
{
    width: 100%;
    height: 100%;
}

.socials-logo img:hover
{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}