/* orange: #e55e1a */
/* grey: #4d485c */
/* white:  #ffffff */
/* brown: #b23f1a*/

.post-box
{
    width: 80%;
    text-align: left;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 25px;
    background-color: #e55e1a;
}

.post-box-title
{
    width: 100%;
    height: 20%;
}

.post-box-date
{
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
}

.post-box-container
{
    width: 100%;
    height: 50%;
    display: flex;
}

.post-box-img
{
    min-width: 30%;
    height: 100%;
    float: left;
}

.post-box-img img
{
    width: 90%;
    height: 90%;
}

.post-box-description
{
    width: auto;
    height: 100%;
    float: left;
}

.post-box-button
{
    width: 100%;
    height: 20%;
}