/* orange: #e55e1a */
/* grey: #4d485c */
/* white:  #ffffff */
/* brown: #b23f1a*/

.post-box
{
    width: 80%;
    text-align: left;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 25px;
    background-color: #e55e1a;
}

