{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/animals.css') }}">
{% endblock %}

{% block body %}
<h1>Zwierzęta</h1>

<br/>
<div class="animals-grid">
    <a href="{{ url_for('found') }}">Ostatnio znalezione</a>
    <a href="{{ url_for('to_adoption') }}">Do adopcji</a>
    <a href="{{ url_for('found_home') }}">Znalazły dom</a>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('add_animal') }}">Dodaj zwierzę</a>
    {% endif %}
</div>

{% endblock %}