{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/animals.css') }}">
{% endblock %}

{% block body %}
<h1>Zwierzęta</h1>

<br/>
<div class="animals-grid">
    <a href="{{ url_for('dogs_to_adoption') }}">Psy do adopcji</a>
    <a href="{{ url_for('cats_to_adoption') }}">Koty do adopcji</a>
    <a href="{{ url_for('recently_arrived') }}">Niedawno trafiły</a>
    <a href="{{ url_for('found_home') }}">Znalazły dom</a>
</div>

{% if current_user.is_authenticated %}
<div class="animals-grid">
    <a href="{{ url_for('add_animal') }}">Dodaj zwierzę</a>
    <a href="{{ url_for('deleted_animals') }}">Usunięte Zwierzęta</a>
</div>
{% endif %}

{% endblock %}