{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/animals.css') }}">
{% endblock %}

{% block body %}

<div class="animal-page">
    <div class="animal-page-header">
        <div class="animal-page-title">
            {% if animal.name %}
                <h1>{{ animal.name }}</h1>
                <h3 style="color: gray;">{{ animal.number }}</h3>
            {% else %}
                <h1>{{ animal.number }}</h1>
            {% endif %}
        </div>

        
        <div style="clear: both;"></div>
    </div>

    <div class="animal-page-content">
        <div class="animal-page-img">
            {% if animal.title_img_name %}
                <img src="{{ url_for('static', filename='uploads/animals/' + animal.animal_id |string + '/' + animal.title_img_name) }}" alt="Zdjęcie"/>
            {% endif %}
        </div>
        <div class="animal-page-description">
        <strong>Data urodzenia: </strong>{{ animal.date_of_birth }}<br/>
        <strong>Płeć: </strong>{{ animal.sex }}<br/>
        <strong>Kastracja/sterylizacja: </strong>{{ 'tak' if animal.castration_sterilization == true else 'nie' }}<br/>
        <strong>Wiek: </strong>{{ animal.age }}<br/>
        <strong>Waga: </strong>{{ animal.weight }} kg<br/>
        <strong>Futro: </strong>{{ animal.fur }}<br/>
        <strong>Numer: </strong>{{ animal.number }}<br/>
        <strong>Boks: </strong>{{ animal.box }}<br/>
        <strong>Stosunek do psów: </strong>{{ animal.attitude_to_dogs }}<br/>
        <strong>Stosunek do kotów: </strong>{{ animal.attitude_to_cats }}<br/>
        <strong>Stosunek do ludzi: </strong>{{ animal.attitude_to_people }}<br/>
        <strong>Charakter: </strong>{{ animal.character }}<br/>
        <p>{{ animal.description|safe }}</p><br/>
        </div>
    </div>
</div>

<div class="images-gallery">
    {% if images %}
        {% for img in images %}
            <div class="images-gallery-img">
                <img src="{{ url_for('static', filename='uploads/animals/' + animal.animal_id |string + '/' + img) }}" alt="Zdjęcie"/>
            </div>
        {% endfor%}
    {% else %}
        Brak zdjęć.
    {% endif %}
</div>

{% if current_user.is_authenticated %}
    <a class="misc-post" href="{{ url_for('restore_animal', id=animal.animal_id) }}">Przywróć</a>
{% endif %}

{% endblock %}