{% extends 'base.html' %}

{% block body %}
<h1>Dodaj zwierzę</h1>
<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.name.label }}
    {{ form.name }}
    <br/>
    {{ form.type.label }}
    {{ form.type }}
    <br/>
    {{ form.breed.label }}
    {{ form.breed }}
    <br/>
    {{ form.sex.label }}
    {{ form.sex }}
    <br/>
    {{ form.age.label }}
    {{ form.age }}
    <br/>
    {{ form.weight.label }}
    {{ form.weight }}
    <br/>
    {{ form.number.label }}
    {{ form.number }}
    <br/>
    {{ form.box.label }}
    {{ form.box }}
    <br/>
    {{ form.description.label }}
    {{ form.description() }}
    <br/>
    {{ form.submit() }}
</form>

{% endblock %}