{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css')}}">
{% endblock %}

{% block body %}
<div id="last-found">
    <h1>OSTATNIO ZNALEZIONE</h1>
    <div class = "slider-wrapper">
        <div class="slider">
            <img id="slajd1" src="static/images/pies1.jpg"/>
            <img id="slajd2" src="static/images/pies2.avif"/>
            <img id="slajd3" src="static/images/pies3.jpg"/>
        </div>
        <div class="slider-nav">
            <a href="#slajd1"></a>
            <a href="#slajd2"></a>
            <a href="#slajd3"></a>
        </div>
    </div>
</div>
<div id="news">
    <h1>AKTUALNOŚCI</h1>

    {% for post in three_latest_posts %}

    <div class="post-box">
        <h2>{{ post.title }}</h2>
        Autor: {{ post.author }} <br/>
        Data: {{ post.post_datetime.strftime('%Y-%m-%d %H:%M') }}

        <p> {{ post.description|safe }} </p>
        
        <a href="{{ url_for('post', id=post.post_id) }}">Więcej</a>

    </div>

    {% endfor %}
</div>
<div id="animals-in-schelter">
    <h1>ZWIERZĘTA W SCHRONISKU</h1>
    <div class="img-desc-button-box">
        <div class="img-desc-button-box_img"></div>
        <div class="img-desc-button-box_desc-button">
            <div class="img-desc-button-box_desc">
                Nasze schronisko jest domem dla wielu rodzajów zwierząt, 
                głównie są to psy i koty, ale czasami nie tylko!
            </div>
            <div class="img-desc-button-box_button">
                <input type="button" value="Zobacz"/>
            </div>
        </div>
    </div>
</div>
<div id="adoption-in-a-nutshell">
    <h1>ADOPCJA W PIGUŁCE</h1>
    <div class="info-blocks-module">
        <div class="info-block">
            <div class="info-block-img">
                <img src="/static/images/logo.png" alt="Ikona psa"/>
            </div>
            <div class="info-block-text">
                Pamiętaj, że adopcja to odpowiedzialność!
            </div>
        </div>
        <div class="info-block">
            <div class="info-block-img">
                <img src="/static/images/logo.png" alt="Ikona psa"/>
            </div>
            <div class="info-block-text">
                Bądź cierpliwy! Zwierzę musi się przyzwyczaić do nowego otoczenia.
            </div>
        </div>
        <div class="info-block">
            <div class="info-block-img">
                <img src="/static/images/logo.png" alt="Ikona psa"/>
            </div>
            <div class="info-block-text">
                Wybierz odpowiednie zwierzę dla siebie.
            </div>
        </div>
    </div>
</div>

<script>
    const slider = document.querySelector('.slider');
    const images = document.querySelectorAll('.slider img');
    let index = 0;

    function nextSlide() {
        index = (index + 1) % images.length;
        slider.scrollTo({
            left: images[index].offsetLeft,
            behavior: 'smooth'
        });
    }

    setInterval(nextSlide, 6000); // Przejście co 3 sekundy
</script>

<script>
document.querySelectorAll(".slider-nav a").forEach((link, index) => {
    link.addEventListener("click", function(event) {
        event.preventDefault(); // Zatrzymuje przewijanie strony

        const slider = document.querySelector(".slider");
        const slideWidth = slider.clientWidth; // Pobiera szerokość slajdu

        slider.scrollTo({
            left: slideWidth * index, // Przesuwa slider na właściwą pozycję
            behavior: "smooth" // Płynne przewijanie
        });
    });
});

</script>
{% endblock %}

