{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
{% endblock %}

{% block body %}
<div class="last-found">
    <h1>OSTATNIO ZNALEZIONE</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo tortor 
        sed luctus placerat. Nunc non eros nisl. Fusce bibendum mollis scelerisque. 
        Nunc iaculis ullamcorper eleifend. Duis quis feugiat felis, ut porta eros. 
        Vestibulum nisi massa, aliquet ac diam quis, porttitor mollis purus. Aliquam 
        vestibulum ultrices leo, vel aliquam eros euismod vel. Curabitur eleifend 
        suscipit lectus eu consequat. Praesent et ipsum et turpis tempor tempus vitae 
        eget justo. Pellentesque ante velit, posuere ac cursus et, lobortis ut metus. 
        Curabitur porttitor enim et ultricies imperdiet.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo tortor 
        sed luctus placerat. Nunc non eros nisl. Fusce bibendum mollis scelerisque. 
        Nunc iaculis ullamcorper eleifend. Duis quis feugiat felis, ut porta eros. 
        Vestibulum nisi massa, aliquet ac diam quis, porttitor mollis purus. Aliquam 
        vestibulum ultrices leo, vel aliquam eros euismod vel. Curabitur eleifend 
        suscipit lectus eu consequat. Praesent et ipsum et turpis tempor tempus vitae 
        eget justo. Pellentesque ante velit, posuere ac cursus et, lobortis ut metus. 
        Curabitur porttitor enim et ultricies imperdiet.
    </p>
</div>
<div class="news">
    <h1>AKTUALNOŚCI</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo tortor 
        sed luctus placerat. Nunc non eros nisl. Fusce bibendum mollis scelerisque. 
        Nunc iaculis ullamcorper eleifend. Duis quis feugiat felis, ut porta eros. 
        Vestibulum nisi massa, aliquet ac diam quis, porttitor mollis purus. Aliquam 
        vestibulum ultrices leo, vel aliquam eros euismod vel. Curabitur eleifend 
        suscipit lectus eu consequat. Praesent et ipsum et turpis tempor tempus vitae 
        eget justo. Pellentesque ante velit, posuere ac cursus et, lobortis ut metus. 
        Curabitur porttitor enim et ultricies imperdiet.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo tortor 
        sed luctus placerat. Nunc non eros nisl. Fusce bibendum mollis scelerisque. 
        Nunc iaculis ullamcorper eleifend. Duis quis feugiat felis, ut porta eros. 
        Vestibulum nisi massa, aliquet ac diam quis, porttitor mollis purus. Aliquam 
        vestibulum ultrices leo, vel aliquam eros euismod vel. Curabitur eleifend 
        suscipit lectus eu consequat. Praesent et ipsum et turpis tempor tempus vitae 
        eget justo. Pellentesque ante velit, posuere ac cursus et, lobortis ut metus. 
        Curabitur porttitor enim et ultricies imperdiet.
    </p>
</div>
<div class="animals-in-schelter">
    <h1>ZWIERZĘTA W SCHRONISKU</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo tortor 
        sed luctus placerat. Nunc non eros nisl. Fusce bibendum mollis scelerisque. 
        Nunc iaculis ullamcorper eleifend. Duis quis feugiat felis, ut porta eros. 
        Vestibulum nisi massa, aliquet ac diam quis, porttitor mollis purus. Aliquam 
        vestibulum ultrices leo, vel aliquam eros euismod vel. Curabitur eleifend 
        suscipit lectus eu consequat. Praesent et ipsum et turpis tempor tempus vitae 
        eget justo. Pellentesque ante velit, posuere ac cursus et, lobortis ut metus. 
        Curabitur porttitor enim et ultricies imperdiet.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo tortor 
        sed luctus placerat. Nunc non eros nisl. Fusce bibendum mollis scelerisque. 
        Nunc iaculis ullamcorper eleifend. Duis quis feugiat felis, ut porta eros. 
        Vestibulum nisi massa, aliquet ac diam quis, porttitor mollis purus. Aliquam 
        vestibulum ultrices leo, vel aliquam eros euismod vel. Curabitur eleifend 
        suscipit lectus eu consequat. Praesent et ipsum et turpis tempor tempus vitae 
        eget justo. Pellentesque ante velit, posuere ac cursus et, lobortis ut metus. 
        Curabitur porttitor enim et ultricies imperdiet.
    </p>
</div>
<div class="adoption-in-a-nutshell">
    <h1>ADOPCJA W PIGUŁCE</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo tortor 
        sed luctus placerat. Nunc non eros nisl. Fusce bibendum mollis scelerisque. 
        Nunc iaculis ullamcorper eleifend. Duis quis feugiat felis, ut porta eros. 
        Vestibulum nisi massa, aliquet ac diam quis, porttitor mollis purus. Aliquam 
        vestibulum ultrices leo, vel aliquam eros euismod vel. Curabitur eleifend 
        suscipit lectus eu consequat. Praesent et ipsum et turpis tempor tempus vitae 
        eget justo. Pellentesque ante velit, posuere ac cursus et, lobortis ut metus. 
        Curabitur porttitor enim et ultricies imperdiet.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo tortor 
        sed luctus placerat. Nunc non eros nisl. Fusce bibendum mollis scelerisque. 
        Nunc iaculis ullamcorper eleifend. Duis quis feugiat felis, ut porta eros. 
        Vestibulum nisi massa, aliquet ac diam quis, porttitor mollis purus. Aliquam 
        vestibulum ultrices leo, vel aliquam eros euismod vel. Curabitur eleifend 
        suscipit lectus eu consequat. Praesent et ipsum et turpis tempor tempus vitae 
        eget justo. Pellentesque ante velit, posuere ac cursus et, lobortis ut metus. 
        Curabitur porttitor enim et ultricies imperdiet.
    </p>
</div>
{% endblock %}